<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<div class="container">
<body>
	<h2>Edit "{{item.name}}"</h2>
	<form action='{{url_for('editItem', category_id=category_id, item_id = item.id)}}', method = 'post'>
	<dl>
		<dt>Name:</dt>
		<input type='text', size='30', name='name', placeholder='{{item.name}}'>

		<dt>Description:</dt>
		<input type='text', size='30', name='description', placeholder='{{item.description}}'>
	</dl>
	<input type='submit', value='Edit'>
	<a href='{{url_for('showItems', category_id=category_id)}}'>Cancel</a> 
	</form>
</body>
</div>