<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<div class="container">
<body>
	<h2>Edit {{i.name}}</h2>
	<form action='{{ url_for('editCategory', category_id=i.id)}}', method = 'post'>
		<input type='text', size='30', name='name', placeholder='{{i.name}}'>
		<input type='submit', value='Edit'>
	</form>
	<a href='{{ url_for('showCategories')}}'>Cancel</a>
</body>
</div>
